@import url('../node_modules/bulma/css/bulma.css');
@import url('../node_modules/nprogress/nprogress.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

#nprogress .bar {
  background: #fff;
}
#nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #29d;
}
#nprogress .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}
